server:
  port: 8086
  servlet:
    context-path: /feed

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/ms_db
    username: abir
    password: 3323
  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        format_sql: true
  application:
    name: NEWSFEED-SERVICE
  zipkin:
    base-url: http://localhost:9411/
        
eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    hostname: localhost
